body{
  /*background-color: #192a56 !important;*/
}
.App{
  /*display: flex;*/
  justify-content: center;
}
.search {
	border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background: none !important;
}
.btnsearch{
	background-color: rgb(250, 250, 250)!important;
    border-color: rgb(250, 250, 250)!important;
}

input:focus, .btnsearch:focus {
	outline: none !important;
	outline-width: 0 !important;
	box-shadow: none !important;
}